<%- include('partials/header') -%> 
    <h1>Домашняя страница</h1>
<br>
    <h4> <%= homePage %></h4>
<br> 
<br>
<% posts.forEach(function(post) { %>
   <div>
        <h3> <%= post.title %> </h3>
    </div>
    <div>
        <p> <%= post.content.substring(0, 100) + " ..."%>  <a href="/posts/<%= post.title %>" >Читать далее</a></p>
    </div>
<% }) %> 

<div class="btndown">
    <button class="btn btn-secondary"><a href="/compose">Добавить запись</a></button>
</div>

<%- include('partials/footer') -%> 


